body {
    font-family: 'Arial', sans-serif;
    background-color: #82bbf3; /* Color de fondo claro azulado */
    color: #333; /* Color principal del texto */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Agregado para transiciones suaves */
}

/* Podemos agregar más detalles para enriquecer el diseño */


button, input[type="submit"], .btn {
    background-color: #007acc; /* Color azul botón */
    color: #ffffff; /* Color texto botón */
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease;
    margin: 15px 0;
}

button:hover, input[type="submit"]:hover, .btn:hover {
    background-color: #004d7a; /* Oscurece el botón al pasar el cursor */
}
